body {
  display: flex;
  background: gray;
}

.content-description {
  width: 40%;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
}

.content-image {
  width: 60%;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.ranking {
  display: flex;
  justify-content: flex-start;
}

.ranking p {
  margin-right: 10px;
  color: rgb(194, 188, 188);
  font-size: 18px;
}
.tv {
  border: 1px solid rgb(194, 188, 188);
}

.star {
  margin-top: 19px;
  margin-right: 10px;
  color: rgb(199, 16, 16);
}

.sinopsis p {
  color: rgb(194, 188, 188);
  font-size: 20px;
}

.content-image {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-play-circle {
  font-size: 100px;
  color: rgb(194, 188, 188);
}

.subtitle {
  font-size: 20px;
  color: rgb(194, 188, 188);
}
.content {
  color: white;
}

.fa-user-circle {
  color: gray;
  margin-top: 30px;
  margin-right: 10px;
  font-size: 30px;
}

.content-background {
  height: 480px;
  width: 1200px;
  background: linear-gradient(90deg, rgba(52, 105, 191, 0.1) 0%, #000000 100%),
    url(http://www.cultjer.com/img/ug_photo/2016_02/45791020160219122348.jpg)
      no-repeat left center;
  background-size: cover;
  display: flex;
}

.extra p {
  color: white;
}

.extra {
  display: flex;
}

.my-list {
  color: white;
  display: flex;
}

.fa-check-circle {
  margin-top: 15px;
  margin-right: 10px;
  font-size: 30px;
}
