body {
  display: flex;
  background: grey;
}

.content-description {
  border: 1px solid;
  width: 50%;
}

.content-image {
  border: 1px solid;
  width: 50%;
}
.title {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.genres {
  border: 1px solid;
}
