body {
  display: flex;
  background: rgb(0, 1, 3);
}

.content-description {
  width: 40%;
  margin-left: 10px;
  font-family: "Lato", sans-serif;
}

.content-image {
  width: 60%;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.ranking {
  display: flex;
  justify-content: flex-start;
}

.ranking p {
  margin-right: 10px;
  color: rgb(194, 188, 188);
  font-size: 18px;
}
.tv {
  border: 1px solid rgb(194, 188, 188);
}

.star {
  margin-top: 19px;
  margin-right: 10px;
}

.sinopsis p {
  color: rgb(194, 188, 188);
  font-size: 20px;
}

.content-image {
  /* width: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-play-circle {
  font-size: 100px;
  color: rgb(194, 188, 188);
}

.fa-play-circle:hover {
  color: rgb(199, 16, 16);
}

.subtitle {
  font-size: 20px;
  color: rgb(194, 188, 188);
}
.content {
  color: white;
}

.fa-user-circle {
  color: gray;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 30px;
}

.content-background {
  height: 480px;
  width: 1200px;
  background: -moz-linear-gradient(
      left,
      rgba(19, 19, 19, 1) 0%,
      rgba(44, 44, 44, 1) 0%,
      rgba(43, 43, 43, 1) 0%,
      rgba(17, 17, 17, 1) 0%,
      rgba(4, 4, 4, 1) 37%,
      rgba(0, 0, 0, 0.64) 49%,
      rgba(12, 12, 12, 0.52) 53%,
      rgba(89, 89, 89, 0.52) 79%,
      rgba(102, 102, 102, 0.52) 100%
    ),
    url(http://www.cultjer.com/img/ug_photo/2016_02/45791020160219122348.jpg)
      no-repeat left center;
  background: -webkit-linear-gradient(
      left,
      rgba(19, 19, 19, 1) 0%,
      rgba(44, 44, 44, 1) 0%,
      rgba(43, 43, 43, 1) 0%,
      rgba(17, 17, 17, 1) 0%,
      rgba(4, 4, 4, 1) 37%,
      rgba(0, 0, 0, 0.64) 49%,
      rgba(12, 12, 12, 0.52) 53%,
      rgba(89, 89, 89, 0.52) 79%,
      rgba(102, 102, 102, 0.52) 100%
    ),
    url(http://www.cultjer.com/img/ug_photo/2016_02/45791020160219122348.jpg)
      no-repeat left center;
  background-size: cover;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .content-background {
    height: 640px;
    width: 360px;
    display: flex;
    flex-direction: column-reverse;
    background-color: black;
  }

  .title {
    color: white;
    font-size: 25px;
    font-weight: bold;
  }

  .content-description {
    height: 65%;
    width: 100%;
    margin-left: 10px;
    font-family: "Lato", sans-serif;
    background-color: black;
    margin: 0px;
  }
  .content-image {
    height: 35%;
    width: 100%;
    background-image: url(http://www.cultjer.com/img/ug_photo/2016_02/45791020160219122348.jpg);
    background-size: 360px 224px;
  }

  .ranking p {
    font-size: 14px;
  }
  .sinopsis p {
    font-size: 16px;
  }
  .subtitle {
    font-size: 16px;
  }
  .content {
    font-size: 15px;
  }
  .star {
    margin-top: 15px;
  }
  .extra p {
    font-size: 15px;
  }
  .my-list p {
    font-size: 15px;
    margin: 0;
  }
  .fa-user-circle {
    font-size: 25px;
  }
  .fa-check-circle {
    font-size: 20px;
    margin-top: 0px !important;
  }
}

.extra p {
  color: white;
}

.extra {
  display: flex;
}

.my-list {
  color: white;
  display: flex;
}

.fa-check-circle {
  margin-top: 20px;
  margin-right: 10px;
  font-size: 30px;
}

.my-list p {
  padding: 6px;
}
